Source: slick-greeter
Section: x11
Priority: optional
Maintainer: Linux Mint <root@linuxmint.com>
Standards-Version: 3.9.6
Build-Depends: at-spi2-core,
               dbus-x11,
               debhelper (>= 9),
               dh-autoreconf,
               gnome-common,
               ttf-ubuntu-font-family,
               libcanberra-dev,
               libgtk-3-dev,
               liblightdm-gobject-1-dev (>= 1.4.0),
               libpixman-1-dev,
               valac (>= 0.20.0),
               xvfb,
Homepage: https://github.com/linuxmint/slick-greeter

Package: slick-greeter
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         lightdm,
Suggests: lightdm-remote-session-freerdp,
          lightdm-remote-session-uccsconfigure,
          remote-login-service,
Provides: lightdm-greeter
Description: Slick Greeter
 The greeter for the Unity desktop.
