Source: slick-greeter
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.6
Build-Depends: at-spi2-core,
               dbus-x11,
               debhelper (>= 9),
               dh-autoreconf,
               gnome-common,
               humanity-icon-theme,
               ttf-ubuntu-font-family,
               libcanberra-dev,
               libgtk-3-dev,
               liblightdm-gobject-1-dev (>= 1.4.0),
               libpixman-1-dev,
               valac (>= 0.20.0),
               xvfb,
Homepage: https://launchpad.net/slick-greeter
# If you aren't a member of ~slick-greeter-team but need to upload packaging
# changes, just go ahead.  ~slick-greeter-team will notice and sync up the code
# again.
Vcs-Bzr: https://code.launchpad.net/~slick-greeter-team/slick-greeter/trunk

Package: slick-greeter
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Recommends: lightdm
Suggests: lightdm-remote-session-freerdp,
          lightdm-remote-session-uccsconfigure,
          remote-login-service,
Provides: lightdm-greeter
Description: Slick Greeter
 The greeter for the Unity desktop.
